.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: visible;
}

.App> *:not(:last-child) {
  margin-bottom: var(--vertical-space);
  animation: fadein forwards 1000ms;
}

#logo {
  width: 4rem;
}

figure {
  overflow: visible;
  position: relative;
  height: var(--figure-height);
  transform: var(--hanukia-scale);
  pointer-events: none;
}


@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.direction-arrow {
  width: 90vw;
  transform: rotate(180deg);
  margin-inline: auto;
  height: 1px;
  background-color: var(--grey);
}

.direction-arrow::after {
  content: "";
  position: relative;
  display: block;
  width: 20px;
  height: 1px;
  transform: rotate(45deg);
  background-color: var(--grey);
  bottom: 7px;
  right: -2px;
}

.direction-arrow::before {
  content: "";
  position: relative;
  display: block;
  width: 20px;
  height: 1px;
  transform: rotate(-45deg);
  background-color: var(--grey);
  bottom: -7px;
  right: -2px;
}