.App {
  text-align: center;
}

.App > *:not(:last-child) {
  margin-bottom: var(--vertical-space);
}

#logo {
  width: 4rem;
}

figure {}

main {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: black;
  backdrop-filter: blur(27px);
  padding-top: 20px;
}

main > * {
  margin-bottom: var(--vertical-space);
}