.App {
  text-align: center;
}

.App > *:not(:last-child) {
  margin-bottom: var(--vertical-space);
}

#logo {
  width: 4rem;
}

figure {}

main {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: black;
  backdrop-filter: blur(27px);
  padding-top: 20px;
}

main > * {
  margin-bottom: var(--vertical-space);
}

.direction-arrow {
  width: 90vw;
  margin-inline: auto;
  height: 1px;
  background-color: var(--grey);
}

.direction-arrow::after {
  content: "";
  position: relative;
  display: block;
  width: 20px;
  height: 1px;
  transform: rotate(45deg);
  background-color: var(--grey);
  bottom: 7px;
  right: -2px;
}

.direction-arrow::before {
  content: "";
  position: relative;
  display: block;
  width: 20px;
  height: 1px;
  transform: rotate(-45deg);
  background-color: var(--grey);
  bottom: -7px;
  right: -2px;
}