.hanukia-container {
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  grid-column: 1;
  grid-row: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  transform: scale(--hanukia-scale);
  z-index: 2;
}

.background {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  /* transform: scale(2); */
  width: var(--background-background-size);
}

.candles-container {
  position: relative;
  grid-area: 1;
  display: grid;
  grid-template-areas:
    "headLeft middle headRight"
    "left middle right";
  grid-template-columns: 135px 68px 135px;
  grid-template-rows: 20px 30px;
  margin-inline: auto;
  justify-content: space-between;
  z-index: 2;
}

.candle-container.middle {
  grid-area: middle;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  bottom: 0px;
  animation: fadein forwards 1000ms;
}

.candles-container::after {
  content: "";
  display: block;
  left: 50%;
  transform: translateX(-50%);
  top: -150px;
  position: absolute;
  margin-inline: auto;
  overflow: visible;
  background-image: url("../../assests/middle-candle-glow_2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 40%;
  width: 240px;
  height: 240px;
  opacity: 1;
}

.skeleton {
  pointer-events: none;

  grid-row: 2;
  top: -33px;
  position: relative;
  width: 300px;
  margin-inline: auto;
}

.candle-holder {
  background-image: url(../../assests/SingleCandle.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 100px;
}

.cluster-right {
  flex-grow: 1;
  grid-area: left;
  display: flex;
  flex-direction: row-reverse;
}

.cluster-right > * {
  margin-right: 13px;
  left: 4px;
}

.cluster-left {
  grid-area: right;
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
}

.cluster-left > * {
  margin-left: 13px;
  right: 4px;
}
